@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.light-mode {
  --bg-color: white;
  --text-color: black;
  --bg-common-color:white;
  --common-shadow:0px 0px 10px 2px #EBE8F6;
  --dark-text-color:#676276			
}

/* Dark Mode */
.dark-mode {
  --bg-color: black;
  --text-color: white;
  /* --bg-common-color:#050D19; */
  --common-shadow:0px 0px 10px 0.5px #1F1931;
  --dark-text-color:#A9A9A9	
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #1b4e9b transparent;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-thumb {
  background: #1b4e9b;
  border-radius: 10em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
*:disabled {
  cursor: not-allowed;
}


a {
  /* color: inherit !important; */
  text-decoration: none !important;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth !important;
}
.commonClass {
  background-color: var(--bg-common-color);
  box-shadow: var(--common-shadow);
  
}
.dark-text{
color: var(--dark-text-color);
}
.content-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.content-container.open {
  max-height: 500px; /* Set an appropriate max-height value */
}

.rotate {
  transform: rotate(180deg);
}
.scroll-hide::-webkit-scrollbar {
  width: 3px;
}